body {
    background-image:url("img1.jpeg");
    background-size:100% 100%;
    margin:auto;
    background-attachment:fixed;
    background-repeat:no-repeat;
}

.menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 70px;
    widht: 100%;
    background: rgb(219, 255, 205);
    border-radius: 5px;
    font-size: 18px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    color: rgb(0, 204, 255);
    margin: 10px;
    padding: 5px;
    float: left;
}

.menu ul {
    margin:0px;
    padding:5px;
    background:none;
    display:block;
    float:right;
}

.menu ul li {
    list-style:none;
    display:inline-block;
}

.menu ul li a {
    display:block;
    text-decoration: none;
    padding:20px;
    color: rgb(0, 225, 255);
}

.menu ul li a:hover {
    display:block;
    color: rgb(47, 225, 255);
    background-color: honeydew;
    box-shadow: inset 0px 0px 5px chartreuse;
}

.menu ul li .dropdown {
    display:none;
}

.menu ul li:hover .dropdown {
    display:block;
    background: honeydew;
    position:absolute;
    padding:10px;
}

.menu ul li:hover .dropdown li {
    display:block;
}

.menu ul li:hover .dropdown li a {
    padding:10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.menu ul li:hover .dropdown li a:hover{
    background:honeydew;
    box-shadow: inset 0px 0px 5px honeydew;
}
